@charset "UTF-8";

body {
    color: #333;
    font-weight: 300;
}

p, ul {
    font-size: 15px;
    line-height: 24px;
}

p, ul, .title-box .title, h1, h2, h3, h4, h5, h6, .post .entry-title,
footer aside header .title, footer aside .title-box .title, .page-header .title, label {
    font-weight: 300;
}


/* Primary Menu */
.header .primary {
    float: right;
}

.header .logo img {
    width: auto;
}


/* Custom */

.ca-width-100 img {
    width: 100%;
}


/* Homepage */

#brighton-container.container {
    width: 100% !important;
}

/*
.brighton-column {
    max-width: 270px;
    background-color: #fff;
    padding: 0;
    margin-right: 2.5%;
}
*/

/* Image captions */

.image_overlay .description {
    /*
    background: none;
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    font-family: "Arial";
    text-shadow: 0px 1px 0px rgba(0,0,0,0.5);
    */
    display: none;
}

/* View: Blog Posts block */

#block-views-content-slider-block .title-box.title-h2 h2.title {
    font-size: 24px;
}

/* Ask a question form block */

#block-webform-client-block-164 .title-box.title-h2 {
    margin-bottom: 2.5%;
    margin-left: 7.5%;
    margin-top: 2.5%;
}

#block-webform-client-block-164 .title-box.title-h2 h2.title {
    font-size: 24px;
}

#webform-client-form-164 {
    margin-left: 7.5%;
    margin-right: 7.5%;
}

#webform-client-form-164 .webform-component--first-name {
    float: left;
    width: 48.75%;
}

#webform-client-form-164 .webform-component--last-name {
    float: left;
    margin-left: 2.5%;
    width: 48.75%;
}

#webform-client-form-164 .webform-component--email {
    float: left;
    width: 31.66%;
}

#webform-client-form-164 .webform-component--phone {
    float: left;
    margin-left: 2.5%;
    width: 31.66%;
}

#webform-client-form-164 .webform-component--nationality {
    float: left;
    margin-left: 2.5%;
    width: 31.66%;
}

#webform-client-form-164 .form-actions {
    float: right;
    margin-top: 2.5%;
    margin-bottom: 5%;
}

.webform-container-inline.webform-datepicker  div.form-item.form-type-select {
    display: none;
}

#loginregisterlinks {
    color: #ffffff;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: right;
}

#loginregisterlinks a {
    color: #ffffff;
}

#loginregisterlinks ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0; 
    font-size: 0;   
}

#loginregisterlinks ul.menu li {
    display: inline;
    margin: 0;
    border-left:1px solid rgba(255, 255, 255, .5);
    padding: 0 1% 0 1%;
    font-size: 14px;     
}

#loginregisterlinks ul.menu li.first {
    border-left:none;
}

#loginregisterlinks ul.menu li.last {
    padding-right:0;
}

/* Login page */

.not-logged-in.page-user.fixed-header.fixed-top .header {
    margin-top: 0;
}

.page-user .page-box #main {
    padding-top: 30px;
}

#user-register-form .captcha {
    margin-bottom: 20px;
}

/* Styling for including reCAPTCHA elements */

#contact-site-form div.captcha,
#webform-client-form-164 div.captcha {
    margin-top: 20px;
}

#block-castleschool-castleschool-booking-form #edit-submit-button {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Styling for including privacy compliance elements */

#webform-client-form-164 .form-item-terms,
#contact-site-form .form-item-terms {
    margin-top: 25px;
    margin-left: 1px;
}

#webform-client-form-164 .new-checkbox,
#contact-site-form .new-checkbox,
#castleschool-bookingform-form .new-checkbox {
    margin-top: 3px;
}

#webform-client-form-164 .form-item-terms label,
#contact-site-form .form-type-checkbox label,
#castleschool-bookingform-form .form-item-terms label {
    font-size: 14px;
    padding-left: 10px;
    font-weight: 300;
}

#castleschool-bookingform-form .form-item-terms {
    margin-bottom: 25px;
    margin-left: 1px;
}

/* Styling for CAPTCHA elements */

#user-login .captcha,
#user-pass .captcha {
    margin-bottom: 20px;
}

/* Agent Zone Login Block */

#agent-zone-login {
    margin-top: 25px;
}

#agent-zone-login #block-user-login #user-login-form label {
    width: 100px;
}

#agent-zone-login #block-user-login #user-login-form input.form-text {
    width: 300px;
}

#agent-zone-login #block-user-login #user-login-form div.item-list {
    display: none;
}

#agent-zone-login #block-user-login #user-login-form .captcha {
    margin-bottom: 25px;
}